 <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
<mat-sidenav-container>
<mat-sidenav #sidenav position="end" appSwipe (swipeRight)="closeSidenav(sidenav)" 
    class="purple-sidenav">
 <mat-nav-list>
    @for (s of sections; track s) {
        <div *ngIf="!((s=='Maneuvers' && character.stamina==0)||(s=='Spells' && character.mana==0))">
            <a mat-list-item (click)="navigateToSection(s)">
              {{s}}
            </a>
            <hr>
        </div>
    }
 </mat-nav-list>
</mat-sidenav>
<mat-sidenav-content
  appSwipe
  (swipeLeft)="openSidenav(sidenav)">
<!--INITIAL PAGE-->
<!-- Name, Class, Level -->
<div class="purple-background vertical-padding" id="Combat">
<h1 class="section-header purple-background">
    {{character.name}}, {{character.characterClass?.name}} ({{character.level}})
</h1>
</div>
<div class="form-container">
<form class="points-form">
  <!-- HP -->
  <mat-form-field appearance="outline" class="points-field">
    <mat-label>Health Points <mat-icon>favorite</mat-icon></mat-label>
    <input matInput [readonly]="true" value="12" style="font-size: 45px;" class="stats" name="hp"
        [(ngModel)]="character.healthPoints"/>
  </mat-form-field>

  <!-- Defenses -->
  <div class="input-row">
    <mat-form-field appearance="outline" class="points-field-medium">
      <mat-label>Precision Defense <mat-icon>shield</mat-icon></mat-label>
      <input matInput [readonly]="true" value="12" style="font-size: 45px;" class="stats" name="pd"
        [(ngModel)]="character.precisionDefense"/>
    </mat-form-field>

    <mat-form-field appearance="outline" class="points-field-medium">
      <mat-label>Area Defense <mat-icon>fort</mat-icon></mat-label>
      <input matInput [readonly]="true" value="12" style="font-size: 45px;" class="stats" name="ad"
        [(ngModel)]="character.areaDefense"/>
    </mat-form-field>
  </div>

  <!--Combat info-->
  <table mat-table [dataSource]="statsTableDataSource" class="mat-elevation-z8 my-table">
  <ng-container id="Attack" matColumnDef="Attack">
    <th mat-header-cell *matHeaderCellDef> Attack modifier </th>
    <td mat-cell *matCellDef="let element"> {{element.attack}} </td>
  </ng-container>
  <ng-container matColumnDef="Save DC">
    <th mat-header-cell *matHeaderCellDef> Save DC </th>
    <td mat-cell *matCellDef="let element"> {{element.saveDc}} </td>
  </ng-container>
  <ng-container matColumnDef="Combat Mastery">
    <th mat-header-cell *matHeaderCellDef> Combat Mastery </th>
    <td mat-cell *matCellDef="let element"> {{element.combatMastery}} </td>
  </ng-container>
  <ng-container matColumnDef="Speed ">
    <th mat-header-cell *matHeaderCellDef> Speed </th>
    <td mat-cell *matCellDef="let element"> {{element.speed}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="combatStatsColumnNames"></tr>
  <tr mat-row *matRowDef="let row; columns: combatStatsColumnNames;"></tr>
</table>

  <!-- Stamina/Mana -->
  <div *ngIf="character.mana > 0 && character.stamina > 0" class="input-row">
  <mat-form-field appearance="outline" class="points-field-small">
    <mat-label>Mana <mat-icon>bolt</mat-icon></mat-label>
    <input matInput [readonly]="true" value="67" style="font-size: 30px;" class="stats" name="mp"
        [(ngModel)]="character.mana"/>
  </mat-form-field>
  <mat-form-field appearance="outline" class="points-field-small">
    <mat-label>Stamina <mat-icon>swords</mat-icon></mat-label>
    <input matInput [readonly]="true" value="67" style="font-size: 30px;" class="stats" name="sp"
        [(ngModel)]="character.stamina"/>
  </mat-form-field>
  </div>

  <mat-form-field appearance="outline" class="points-field-small"
    *ngIf="character.mana > 0 && character.stamina == 0">
    <mat-label>Mana <mat-icon>bolt</mat-icon></mat-label>
    <input matInput [readonly]="true" value="67" style="font-size: 30px;" class="stats" name="mp"
        [(ngModel)]="character.mana"/>
  </mat-form-field>
  <mat-form-field appearance="outline" class="points-field-small"
    *ngIf="character.stamina > 0 && character.mana == 0">
    <mat-label>Stamina <mat-icon>swords</mat-icon></mat-label>
    <input matInput [readonly]="true" value="67" style="font-size: 30px;" class="stats" name="sp"
        [(ngModel)]="character.stamina"/>
  </mat-form-field>
  </form>
</div>
<br>
<!--ATTRIBUTES AND SKILLS-->
<div id="Attributes"></div>
<hr class="purple-border">
<h2 class="section-header purple">Attributes & Skills</h2>
<hr class="purple-border">
<div class="form-container">
    <form class="points-form">
        <div class="attributes-row">
            <!--Attributes-->
            <mat-form-field appearance="outline" class="attribute-points-field"
                *ngFor="let attribute of character.attributes">
            <mat-label>{{attribute.name}}</mat-label>
            <input matInput [readonly]="true" [value]="attribute.name" style="font-size: 30px;" class="stats" 
                [name]="attribute.name"
                [(ngModel)]="attribute.value"/>
            </mat-form-field>
        </div>
    <!--Skills-->
    <div id="Skills&Trades"></div>
    <table mat-table [dataSource]="skillsTrained" class="mat-elevation-z8 my-table">
    <ng-container id="Skill" matColumnDef="Skill">
        <th mat-header-cell *matHeaderCellDef> Skill/Trade </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="Attribute">
        <th mat-header-cell *matHeaderCellDef> Attribute </th>
        <td mat-cell *matCellDef="let element"> {{element.attribute}} </td>
    </ng-container>
    <ng-container matColumnDef="Total Modifier">
        <th mat-header-cell *matHeaderCellDef> Modifier</th>
        <td mat-cell *matCellDef="let element"> +{{formatSkillModifier(element)}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="skillsColumnNames"></tr>
    <tr mat-row *matRowDef="let row; columns: skillsColumnNames;"></tr>
    </table>
        <!--Trades-->
    <table mat-table [dataSource]="tradesTrained" class="mat-elevation-z8 my-table">
    <ng-container id="Skill" matColumnDef="Trade">
        <th mat-header-cell *matHeaderCellDef> Trade </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="Trade Modifier">
        <th mat-header-cell *matHeaderCellDef>Trade Modifier</th>
        <td mat-cell *matCellDef="let element"> +{{formatTradeModifier(element)}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="tradesColumnNames"></tr>
    <tr mat-row *matRowDef="let row; columns: tradesColumnNames;"></tr>
    </table>
    </form>
</div>

    <!--MANEUVERS-->
    <div id="Maneuvers" *ngIf="character.maneuvers.length>0">
    <hr class="purple-border">
    <h2 class="section-header purple">Maneuvers</h2>
    <hr class="purple-border">
    <div class="form-container">
    <mat-accordion>
    <mat-expansion-panel *ngFor="let maneuver of character.maneuvers" #panel>

    <mat-expansion-panel-header>
    <span class="class-name"><strong>{{ maneuver.name }}</strong></span>
    </mat-expansion-panel-header>
    <p><strong>Cost:</strong> {{maneuver.costAP}}AP, {{maneuver.costSP}}MP</p>
    <p><strong>Range:</strong>
      <ng-container *ngIf="maneuver.range!=0">{{ maneuver.range }} spaces</ng-container>
      <ng-container *ngIf="maneuver.range==0">self</ng-container>
      </p>
    <p><strong>Duration:</strong> 
      <ng-container *ngIf="maneuver.duration!=0">{{ maneuver.duration }} {{maneuver.durationUnit}}</ng-container>
      <ng-container *ngIf="maneuver.duration==0">{{ maneuver.duration }} instantaneous</ng-container>
      </p>
    <p>{{maneuver.description}}</p>
    <p><strong>Enhancements:</strong></p>
    <ul>
    <li *ngFor="let enhancement of maneuver.enhancements" class="talent-section">
          <strong class="talent-name" *ngIf="enhancement.costAP > 0 && enhancement.costSP > 0">
            {{ enhancement.name }} ({{enhancement.costAP}}AP + {{enhancement.costSP}SP:
            <ng-container *ngIf="enhancement.repeteable">, Repeatable</ng-container>):
          </strong> 
          <strong class="talent-name" *ngIf="enhancement.costAP > 0 && enhancement.costSP <= 0">
            {{ enhancement.name }} ({{enhancement.costAP}}AP
            <ng-container *ngIf="enhancement.repeteable">, Repeatable</ng-container>):
          </strong> 
          <strong class="talent-name" *ngIf="enhancement.costAP <= 0 && enhancement.costSP > 0">
            {{ enhancement.name }} ({{enhancement.costSP}}SP
            <ng-container *ngIf="enhancement.repeteable">, Repeatable</ng-container>):
          </strong> 
            {{ enhancement.description}}
      </li>
    </ul>
  </mat-expansion-panel>
</mat-accordion>
    </div>
    </div>

    <!--SPELLS-->
    <div id="Spells" *ngIf="character.spells.length>0">
    <hr class="purple-border">
    <h2 class="section-header purple">Spells</h2>
    <hr class="purple-border">
    <div class="form-container">
        <mat-accordion>
    <mat-expansion-panel *ngFor="let spell of character.spells" #panel>

    <mat-expansion-panel-header>
    <span class="class-name"><strong>{{ spell.name }}</strong></span>
    </mat-expansion-panel-header>
    <p><strong>Source:</strong> {{ spell.sources.join(', ') }}</p>
    <p><strong>School:</strong> {{ spell.schools.join(', ') }}</p>
    <p><strong>Tags:</strong> {{ spell.tags.join(', ') }}</p>
    <p><strong>Cost:</strong> {{spell.costAP}}AP, {{spell.costMP}}MP</p>
    <p><strong>Range:</strong> {{ spell.range }} spaces
      <ng-container *ngIf="spell.range!=0">{{ spell.range }} spaces</ng-container>
      <ng-container *ngIf="spell.range==0">self</ng-container>
      </p>
    
    <p><strong>Duration:</strong> 
      <ng-container *ngIf="spell.duration!=0">{{ spell.duration }} {{spell.durationUnit}} <ng-container *ngIf="spell.isSustained">(Sustained)</ng-container></ng-container>
      <ng-container *ngIf="spell.duration==0">instantaneous</ng-container>
      </p>
    <p>{{spell.description}}</p>
    <p><strong>Enhancements:</strong></p>
    <ul>
    <li *ngFor="let enhancement of spell.enhancements" class="talent-section">
          <strong class="talent-name" *ngIf="enhancement.costAP > 0 && enhancement.costMP > 0">
            {{ enhancement.name }} ({{enhancement.costAP}}AP + {{enhancement.costMP}}MP:
            <ng-container *ngIf="enhancement.repeteable">, Repeatable</ng-container>):
          </strong> 
          <strong class="talent-name" *ngIf="enhancement.costAP > 0 && enhancement.costMP <= 0">
            {{ enhancement.name }} ({{enhancement.costAP}}AP
            <ng-container *ngIf="enhancement.repeteable">, Repeatable</ng-container>):
          </strong> 
          <strong class="talent-name" *ngIf="enhancement.costAP <= 0 && enhancement.costMP > 0">
            {{ enhancement.name }} ({{enhancement.costMP}}MP
            <ng-container *ngIf="enhancement.repeteable">, Repeatable</ng-container>):
          </strong> 
            {{ enhancement.description}}
      </li>
    </ul>
  </mat-expansion-panel>
</mat-accordion>
  </div>
</div>

    <!--CLASS TALENTS-->
    <div id="Class">
    <hr class="purple-border">
    <h2 class="section-header purple">Class</h2>
    <hr class="purple-border">
    <div class="form-container">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let feature of classFeatures" #panel>

        <mat-expansion-panel-header>
    <span class="class-name"><strong>{{ feature.name }}</strong></span>
    </mat-expansion-panel-header>
    <p *ngIf="feature.costAP>0"><strong>Cost:</strong> {{feature.costAP}}AP
      <ng-container *ngIf="feature.costSP>0">, {{feature.costSP}}SP</ng-container>
      <ng-container *ngIf="feature.costMP>0">, {{feature.costMP}}MP</ng-container>
    </p>
    <p *ngIf="feature.range>0"><strong>Range:</strong>
      <ng-container *ngIf="feature.range!=0">{{ feature.range }} spaces</ng-container>
      <ng-container *ngIf="feature.range==0">self</ng-container>
      </p>
    <p *ngIf="feature.duration>0"><strong>Duration:</strong> 
      <ng-container *ngIf="feature.duration!=0">{{ feature.duration }} {{feature.duration}} spaces</ng-container>
      <ng-container *ngIf="feature.duration==0">{{ feature.duration }} instantaneous</ng-container>
      </p>
    <p>{{feature.text}}</p>
      </mat-expansion-panel>
      </mat-accordion>
    </div>
    </div>

    <!--ANCESTRY-->
    <div id="Ancestry">
    <hr class="purple-border">
    <h2 class="section-header purple">Ancestry</h2>
    <hr class="purple-border">
    <div class="form-container">
        <mat-accordion>
        <mat-expansion-panel *ngFor="let feature of ancestryFeatures" #panel>

        <mat-expansion-panel-header>
    <span class="class-name"><strong>{{ feature.name }}</strong></span>
    </mat-expansion-panel-header>
    <p *ngIf="feature.costAP>0"><strong>Cost:</strong> {{feature.costAP}}AP
      <ng-container *ngIf="feature.costSP>0">, {{feature.costSP}}SP</ng-container>
      <ng-container *ngIf="feature.costMP>0">, {{feature.costMP}}MP</ng-container>
    </p>
    <p *ngIf="feature.range>0"><strong>Range:</strong>
      <ng-container *ngIf="feature.range!=0">{{ feature.range }} spaces</ng-container>
      <ng-container *ngIf="feature.range==0">self</ng-container>
      </p>
    <p *ngIf="feature.duration>0"><strong>Duration:</strong> 
      <ng-container *ngIf="feature.duration!=0">{{ feature.duration }} {{feature.duration}} spaces</ng-container>
      <ng-container *ngIf="feature.duration==0">{{ feature.duration }} instantaneous</ng-container>
      </p>
    <p>{{feature.text}}</p>
      </mat-expansion-panel>
      </mat-accordion>
    </div>
    </div>

    <!--ARMOR-->
    <div id="Armor">
    <hr class="purple-border">
    <h2 class="section-header purple">Armor</h2>
    <hr class="purple-border">
    <div class="form-container">
        <mat-accordion>
        <mat-expansion-panel *ngFor="let feature of armorFeatures" #panel>

    <mat-expansion-panel-header>
    <span class="class-name"><strong>{{ feature.name }}</strong></span>
    </mat-expansion-panel-header>
    <p>{{feature.text}}</p>
      </mat-expansion-panel>
      </mat-accordion>
    </div>
    </div>

    <div id="Finish" *ngIf="cameFromCharacterCollection==false">
    <hr class="purple-border">
    <h2 class="section-header purple">FINISH</h2>
    <hr class="purple-border">
    
    <div class="form-container">
        <form class="points-form">
            <div class="input-row">
        <button mat-raised-button color="primary" class="icon-button-left" (click)="toCreate()">
        <mat-icon  class="icon-left" >keyboard_arrow_left</mat-icon>
            <span class="margin-right">Back</span>
        </button>
        <button mat-raised-button color="primary" class="icon-button-right green-look" (click)="onDoneClicked()">
            <span class="margin-left">Done</span>
        <mat-icon class="icon-right" >keyboard_arrow_right</mat-icon>
        </button>
            </div>
        </form>
    </div>
    <br>
    </div>

    <div id="Finish" *ngIf="cameFromCharacterCollection==true">
    <hr class="purple-border">
    <h2 class="section-header purple">FINISH</h2>
    <hr class="purple-border">
    
    <div class="form-container">
        <form class="points-form">
            <div class="input-row">
        <button mat-raised-button color="primary" class="icon-button-left" (click)="toCollection()">
            <span class="margin-right">Back</span>
        </button>
            </div>
        </form>
    </div>
    <br>
    </div>

</mat-sidenav-content>
</mat-sidenav-container>

